body{
    margin: 0;
    background-image: url("../women/zhang-kaiyv-411222-unsplash.jpg");
    background-size: 100%;
}

.nav-container{
    display: inline-block;
    position: absolute;
    top: 100px;
    box-shadow:0  5px 7px 0 crimson;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
}

.nav{
    width: 150px;
    position: fixed;
    background-color: brown;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
}

.nav .self-img{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-image: url("../women/20190410133411.jpg");
    background-position: -70px -20px;
    border-radius: 50px;
    background-size: 250px 339px;
    transition-property: all;
    transition-duration: 0.32s;
    transition-timing-function: ease-in;
}

.nav .self-img:hover{
    transform: scale(1.1,1.1);
}

.leader{
    list-style-type: none;
    /*display: inline-block;*/
    padding-left: 0;
    margin-block-end: 0;
}


.leader li{
    width: 100px;
    background-color: beige;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    position: relative;
    z-index: 0;
}

.leader li a{
    /*z-index: 0;*/
    /*position: relative;*/
    display: block;
    text-decoration-line: none;
    overflow: hidden;
}

.leader li a span{
    color: cornflowerblue;
    z-index: 0;
    /*position: absolute;*/
    /*float: left;*/
}

.leader li:before{
    position: absolute;
    z-index: -1;
    content: '';
    width: 10px;
    height: 30px;
    background-color:brown;
    left: 0;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transform: translate(0,0);
}

.leader li:hover:before{
    width: 100px;
}

.search{
    display: block;
    width: 120px;
    position: relative;
    left: 5px;
    border-radius: 20px;
}

.search span{
    position: absolute;
    right: 1px;
    top: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../icons/icons.png");
    background-position: -662px -728px;
}

.search input{
    outline: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 20px;
    background-color: beige;
    border-radius: 10px;
    text-indent: 10px;
    color: blueviolet;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.search:hover input{
    box-shadow: 0 0 2px 2px aliceblue;
}

.search input:focus{
    box-shadow: 0 0 2px 2px aliceblue;
}

.search span:hover{
    background-position-x: -727px;
}
